.root{
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #333;
  padding: 0;
}

.description{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name{
  font-weight: 600;
  color: #FFF;
}

.artist{
  font-size: 14px;
  color: #EEE;
}

.time{

}
